extends layouts/_default.pug

block content

	.phi-container
		h2 Welcome to #[u phil] : #[u p]rototype for #[u h]eavy #[u i]ntergration #[u l]ifting
		
		h3 Things of note
		ul
			li Phil is a hurridly conceived acronym made up for the sole purpose of flattering the ego of it's pseudo creator.
			li Phil is an ever name changing boilerplate for creating one time static html content to be delivered for Backend integration.
			li The goal is to build up your js and styling src tools so you can keep using them in the final environement after BE integration.
			li It uses Sass for style
			li It uses Pug for HTML
			li It uses Grunt for building the whole thing.
		.phi-Well This is the main course : #[a(href="/modules.html") /module.html]
		