extends layouts/_default.pug

block content

	.ben-container
		h2 Welcome to Bento for Grunt
		
		p This is a boilerplate for fast tracking an integration prototype or any light static website. It runs its tasks with Grunt.

		ul
			li Bento is a lunch box made with care. In it you'll find some jade, some sass but no rice. Together they form a healthy stagic website boilerplate built with Webpack.
			li Bento is an #[a(href="https://github.com/regisphilibert/phil/commit/6bb444a41dcdd0816c85ccf53b2f5ebab1f73fd3") ever name changing] boilerplate for creating one time static html content to be delivered for Backend integration.
			li The goal is to build up your js and styling src tools so you can keep using them in the final environement after BE integration.
			li It uses #[a(href="https://sass-lang.com") Sass] or #[a(href="http://lesscss.org/") Less] for style
			li It uses #[a(href="https://pugjs.org") Pug] for HTML
			li It uses #[a(href="https://gruntjs.com/") Grunt] for building the whole thing.
		