extends layouts/_default.pug

block variables
	- var title = "PHIL | Exemple Page"

block content
	.phi-container
		h2 Exemple Page
		
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ipsam cumque quae iusto alias aperiam eligendi porro mollitia quo, fuga sit, enim repudiandae cupiditate esse. Eveniet dignissimos fugiat, consequuntur sapiente!

		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis dolores maiores minima rem vitae nesciunt ab, itaque explicabo adipisci fugit officia at, laudantium voluptatem. Voluptatibus consequuntur, nulla consequatur ad perspiciatis.